<div class="modal fade" id="avatarUploadModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="padding: 5%; width: 80%">
      <h2>Upload Display Picture</h2>
      <br>


        <div style="text-align: center">
          <span id="avatarUploadPreview"></span>

        </div>

      {{#unless currentlyUploading}}
        <div style="text-align: center">
          {{input type="file" id="avatarUploadField"}}
          <br>
          <button {{action 'uploadAvatar'}} class="btn btn-info">Upload</button>
          <button {{action 'cancelAvatarUpload'}} class="btn btn-danger">Cancel</button>
        </div>
      {{else}}
        <div class="progress progress-striped active">
          <div class="progress-bar"  role="progressbar" style="width: 100%">
          </div>
        </div>
      {{/unless}}

    </div>
  </div>
</div>
