.tournaments

  = link_to I18n.t("tournaments.create"), new_tournament_path, class: 'create-tournament-btn'

  .tournament-listing
    %h2= I18n.t("tournaments.listing")
    - @tournaments.each do |tournament|
      %h3= link_to tournament.title, tournament_path(tournament)
