<h1>This is the TournamentsIndex template</h1>

<h2>Tournament Listing: </h2>

<h1>test: {{hello}}</h1>

{{#link-to 'tournaments.new' class="btn btn-primary btn-info"}}Create Tournament{{/link-to}}

{{#each tournament in controller}}
  {{tournament.id}}. {{#link-to 'tournament' tournament}}{{tournament.title}}{{/link-to}}
{{/each}}
