<h1>This is the TournamentsIndex template</h1>

<h2>Tournament Listing: </h2>

{{#each tournament in controller}}
  {{tournament.id}}. {{#link-to 'tournament' tournament}}{{tournament.title}}{{/link-to}}
{{/each}}
