<h1>This is the TournamentsIndex template</h1>

<h2>Tournament Listing: </h2>

<h1>test: {{hello}}</h1>

{{#link-to 'tournaments.new' class="btn btn-primary btn-info"}}Create Tournament{{/link-to}}

<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>

  {{#each tournament in controller}}
    <tr>
      <td>{{tournament.id}}</td>
      <td>{{#link-to 'tournament' tournament}}{{tournament.title}}{{/link-to}}</td>
      <td>{{tournament.description}}</td>
    </tr>
  {{/each}}
</table>
