<div class="modal fade" id="processingModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="padding: 15px">
      <div class="modal-header">
        <h1>Dis is the avatar upload :3</h1>
      </div>

      <div class="progress progress-striped active">
        <div class="progress-bar"  role="progressbar" style="width: 100%">
        </div>
      </div>

    </div>
  </div>
</div>
