{{#if currentUser}}
  <div class="row">
    <div class="col-md-2 col-sm-2">
      <ul class="nav nav-pills nav-stacked">
        {{#link-to 'index' tagName='li'}}<a href>Dashboard</a>{{/link-to}}
        {{#link-to 'user.edit' currentUser tagName='li'}}<a href>Account Settings</a>{{/link-to}}
        {{#link-to 'user.index' currentUser tagName='li'}}<a href>View Profile</a>{{/link-to}}
      </ul>
    </div>

    <div class="col-md-4 col-sm-4">
      {{#if currentUser.teams}}
        <h2>Your Teams</h2>

        {{#each team in currentUser.teams}}
          {{#link-to 'team.index' team}}<h3>{{team.name}}</h3>{{/link-to}}
        {{/each}}
      {{/if}}
    </div>

    <div class="col-md-4 col-sm-4">
      {{#if currentUser.tournaments}}

        <h3>Current Tournaments</h3>
        {{#each tournament in currentTournaments}}
          {{#link-to 'tournament.index' tournament}}<h3>{{tournament.name}}</h3>{{/link-to}}
        {{/each}}

        <h3>Past Tournaments</h3>

        {{#each tournament in pastTournaments}}
          {{#link-to 'tournament.index' tournament}}<h3>{{tournament.name}}</h3>{{/link-to}}
        {{/each}}

      {{/if}}
    </div>
  </div>
{{else}}
  <div class="jumbotron">
    <div class="page-header">
      <h1>Gaming Intensifies</h1>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail" style="text-align: center">
          <br>
          <br>
          <br>
          <img src="https://s3.amazonaws.com/gameway-production/miscellaneous/twitch-logo.png">
          <br>
          <div class="caption">
            <h3>Sign Up</h3>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail" style="text-align: center">
          <br>
          <br>
          <img src="https://s3.amazonaws.com/gameway-production/miscellaneous/League-of-legends-logo.jpg" >
          <div class="caption">
            <h3>Connect Game Account</h3>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail" style="text-align: center">
          <img src="https://s3.amazonaws.com/gameway-production/miscellaneous/bracket-image.png">
          <div class="caption">
            <h3>Join Tournaments</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
