/*
 *= require_self
 *= require_tree .
 */
/* You must configure bootstrap variables before you import bootstrap. */
// $font-size-base: 16px
// $font-family-base: 'Expletus Sans', sans-serif
// @import 'bootstrap'

html
  font-family: 'Expletus Sans', sans-serif

.nav
  float: left
  width: 100%
  .logo
    float: left
    font-weight: bold
    margin-left: 2%

  .login_elements
    float: right
    margin-right: 5%

.container
  clear: left

.front_sign_up
  float: right


