/*
 *= require_self
 *= require_tree .
 */
/* You must configure bootstrap variables before you import bootstrap. */

html
  font-family: 'Expletus Sans', sans-serif

.nav
  float: left
  width: 100%
  h1.logo
    margin-top: 0
    float: left
    font-weight: bold
    margin-left: 2%
    font-size: 250%

  .nav-links
    list-style: none
    float: right
    padding-top: 0.5%
    width: 80%
    li
      float: left
      margin-right: 10%
      font-weight: bold
      font-size: 17px
      border: 1px solid black
      width: 160px
      padding-top: 10px
      height: 30px
      text-align: center
      // padding: 8px 10px
      border-radius: 6px


  .login_elements
    margin-top: 1%
    list-style: none
    float: right
    margin-right: 5%
    .first-tier
      list-style: none
      li
        float: left
        margin: 0 20px 0 0
    .second-tier
      list-style: none
      li
        padding-top: 10px
        width: 100%
        text-align: right
        padding-right: 20%
        float: right
        margin: 0 20px 0 0
    .signin-input
      display: block
      width: 90%
      height: 28px
      padding: 4px 10px
      font-size: 13px
      line-height: 1.428571429
      color: #555555
      vertical-align: middle
      background-color: #ffffff
      border: 1px solid #cccccc
      border-radius: 4px
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
    .signin-btn
      &:hover
        background-color: darkorange
        color: white

.container
  clear: left

.front_sign_up
  padding-top: 5%
  float: right
  padding-right: 10%
  text-align: left
  font-size: 18px
  width: 20%

  .sign-up-input
    display: block
    width: 90%
    height: 28px
    padding: 6px 12px
    font-size: 14px
    line-height: 1.428571429
    color: #555555
    vertical-align: middle
    background-color: #ffffff
    border: 1px solid #cccccc
    border-radius: 4px
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s

a
  text-decoration: none
  color: darkslateblue
  &:visited
    color: darkslateblue
  &:hover
    color: darkorange
  &:active
    color: darkorange

.signup-btn
  width: 60%
  display: inline-block
  padding: 3% 20%
  margin-left: 20%
  margin-bottom: 0
  font-size: 18px
  font-weight: normal
  line-height: 1.33
  text-align: center
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  border: 1px solid transparent
  border-radius: 6px
  background-color: darkslateblue
  color: white
  &:hover
    background-color: darkorange
    color: white

.signin-btn
  display: inline-block
  padding: 6px 12px
  margin-left: 20%
  margin-bottom: 0
  font-size: 16px
  font-weight: normal
  line-height: 1.33
  text-align: center
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  border: 1px solid transparent
  border-radius: 6px
  background-color: darkslateblue
  color: white

