.welcome
  margin-left: 2%

.user-panel
  margin-left: 2%
  .user-groups
    width: 30%
    h3
      margin: 0
    h4
      margin-top: 0
    a
      text-decoration: none
      &:active
        color: darkorange
      &:hover
        color: darkorange

  .user-teams
    width: 30%
