.welcome
  margin-left: 2%

.user-panel
  margin-left: 4%
  h3
    margin: 0
  h4
    margin-left: 4%
    margin-top: 0
  p
    margin-left: 4%
  a
    text-decoration: none
    margin-left: 4%
    &:active
      color: darkorange
    &:hover
      color: darkorange

  .user-groups
    width: 33%

  .user-teams
    width: 33%
