.welcome
  margin-left: 2%

.user-panel
  margin-left: 4%
  h3
    margin: 0
  h4
    margin-left: 4%
    margin-top: 0
  p
    margin-left: 4%
  a
    text-decoration: none
    margin-left: 4%

  .user-tournaments
    width: 33%
    a
      color: darkslateblue
      &:hover
        color: darkorange
      &:active
        color: darkorange

  .user-groups
    width: 33%
    a
      color: darkslateblue
      &:hover
        color: darkorange
      &:active
        color: darkorange

  .user-teams
    width: 33%
    a
      color: darkslateblue
      &:hover
        color: darkorange
      &:active
        color: darkorange
