$primary:     #DE6A00 // orange
$secondary:   #DB9655 // light orange
$tertiary:    #203E42 // dark green
$quarternary: #7E9899 // light green

// how it should be: orange, light orange, dark green, light green

// $quinary:    #D4FFFD

// darkgreen: 203E42
// lightgreen: 7E9899
// lightblue: D4FFFD
// lightorange: DB9655
// orange: DE6A00


html
  font-family: 'Expletus Sans', sans-serif
  background-image: image-url("darkspace.jpg")

// .alert
//   margin-left: 5%
//   margin-right: 5%
//   border-radius: 6px
//   color: white
//   background-color: #DB4D4D
// .devise_errors
//   margin-left: 5%
//   margin-right: 5%
//   border-radius: 6px
//   color: white
//   background-color: #DB4D4D
// .notice
//   margin-left: 5%
//   margin-right: 5%
//   border-radius: 6px
//   color: white
//   background-color: #6666FF

.nav
  float: left
  width: 100%
  a
    text-decoration: none
    color: $primary

    &:hover
      color: $secondary
      text-shadow: 0px 0px 5px $secondary


  h1.logo
    margin-top: 0
    float: left
    font-weight: bold
    margin-left: 2%
    font-size: 250%
    a
      text-decoration: none
      @include radial-gradient($primary, $secondary)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
      &:hover
        color: $primary
        text-shadow: 0px 0px 20px $primary


  .nav-links
    list-style: none
    float: right
    width: 78%
    margin-right: 2%
    padding-top: 0.5%
    a
      text-decoration: none
      display: inline-block
      padding: 8px 16px
      margin-bottom: 0
      font-size: 20px
      font-weight: normal
      line-height: 1.33
      text-align: center
      white-space: nowrap
      vertical-align: middle
      cursor: pointer
      border: 1px solid transparent
      border-radius: 6px
      background-color: $primary
      color: white
      text-shadow: 0px 0px 10px white
      &:hover
        color: white
        background-color: $secondary
    .in-controller
      background-color: $tertiary
      text-shadow: 0px 0px 10px white

    li
      padding-top: 0px
      float: left
      margin-left: 4%
      font-weight: bold
      font-size: 18px
      width: 160px
      height: 30px
      text-align: center
      // padding: 8px 10px


  .login_elements
    margin-top: 1%
    list-style: none
    float: right
    margin-right: 5%
    padding-left: 0
    .first-tier
      list-style: none
      li
        float: left
        margin: 0 20px 0 0
    .second-tier
      list-style: none
      li
        padding-top: 10px
        width: 100%
        text-align: right
        padding-right: 20%
        float: right
        margin: 0 20px 0 0
    .signin-input
      display: block
      width: 95%
      margin-right: 15px
      height: 28px
      padding: 4px 10px
      font-size: 13px
      line-height: 1.428571429
      // color: $primary
      vertical-align: middle
      border: 1px solid #cccccc
      border-radius: 4px
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s

    .forgot-password
      margin-right: 18px
      color: $secondary
      text-shadow: 0px 0px 10px $secondary
      &:hover
        color: $primary
        text-shadow: 0px 0px 10px $primary


    .signin-btn
      display: inline-block
      padding: 8px 14px
      margin-left: 20%
      margin-bottom: 0
      font-size: 16px
      font-weight: normal
      line-height: 1.33
      text-align: center
      white-space: nowrap
      vertical-align: middle
      cursor: pointer
      border: 1px solid transparent
      border-radius: 6px
      background-color: $tertiary
      color: white
      text-shadow: 0px 0px 10px white
      &:hover
        background-color: $quarternary
        color: white


.container
  margin-left: 5%
  clear: left
