.round
  padding: 0px
  float: left
  margin-top: 0px
  margin-left: 0px

  li
    font-size: 12px
    border-top: 1px solid black
    border-bottom: 1px solid black
    border-left: 0px solid black
    border-right: 1px solid black
    list-style: none
    padding: 10px 35px
    height: 50px
    margin-bottom: 0px
    width: 110px
    text-align: center

button.slot
  display: inline-block
  margin-bottom: 0
  font-weight: normal
  text-align: center
  white-space: nowrap
  cursor: pointer
  border: 1px solid transparent
  border-radius: 4px
  color: #333333
  background-color: #ffffff
  border-color: #cccccc
  &:hover
    background-color: limegreen
    color: white



