.tournament-listing
  table
    border-collapse: collapse
    margin-right: 5%
    tr
      .title
        width: 100px
      td
        font-size: 15px
        border-bottom: 1px solid dimgray
        margin-right: 3%
        h3
          margin-top: 1%
          margin-bottom: 0%
        h4
          text-align: center
        p
          text-align: center
        p.description
          text-align: left
          margin-top: 0
          overflow: hidden
          text-overflow: ellipsis
          white-space: nowrap
          padding-right: 8%
          color: black
        p.start-time
          color: black
          margin-top: 0px
          margin-bottom: 0px
        p.owner
          color: black

      td.start-time-head
        width: 18%
      td.game-head
        width: 12%

  a
    color: darkslateblue
    // margin-left: 4%
    text-decoration: none
    &:hover
      color: steelblue

.tournament-submit
  text-decoration: none
  display: inline-block
  padding: 10px 16px
  margin-bottom: 0
  font-size: 20px
  font-weight: normal
  line-height: 1.33
  text-align: center
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  border: 1px solid transparent
  border-radius: 6px
  background-color: darkslateblue
  color: white
  text-align: center
  width: 30%
  margin-left: 35%
  &:hover
    color: white
    background-color: steelblue

.create-tournament-btn
  text-decoration: none
  display: inline-block
  padding: 10px 16px
  margin-bottom: 0
  font-size: 20px
  font-weight: normal
  line-height: 1.33
  text-align: center
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  border: 1px solid transparent
  border-radius: 6px
  background-color: darkslateblue
  color: white
  &:hover
    color: white
    background-color: steelblue

.tournament-search
  float: right
  display: inline-block
  width: 60%
  // margin-right: 30%
  input
    width: 150%
    // padding: 12px 12px
    font-size: 14px
    // line-height: 1.428571429
    color: #555555
    vertical-align: middle
    background-color: #ffffff
    border: 1px solid #cccccc
    border-radius: 4px
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
  .tournament-search-btn
    width: 15%
    display: inline-block
    // padding: 10px 12px
    margin-left: 15%
    margin-bottom: 0
    font-size: 14px
    font-weight: normal
    line-height: 1.33
    text-align: center
    white-space: nowrap
    vertical-align: middle
    cursor: pointer
    border: 1px solid transparent
    border-radius: 6px
    background-color: darkslateblue
    color: white
    &:hover
      color: white
      background-color: steelblue

  .tt-is-under-cursor
    font-weight: bold
    color: red
  .tt-dropdown-menu
  .tt-dataset-tournaments
  .tt-suggestions
  .tt-suggestion

.new_tournament
  width: 25%
  .tournament-input-field
    margin-bottom: 3%
    display: block
    width: 100%
    height: 28px
    padding: 6px 12px
    font-size: 14px
    line-height: 1.428571429
    color: #555555
    vertical-align: middle
    background-color: #ffffff
    border: 1px solid #cccccc
    border-radius: 4px
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
  .tournament-input-area
    margin-bottom: 3%
    display: block
    width: 100%
    height: 64px
    padding: 6px 12px
    font-size: 14px
    line-height: 1.428571429
    color: #555555
    vertical-align: middle
    background-color: #ffffff
    border: 1px solid #cccccc
    border-radius: 4px
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s

.manual-start-btn
  text-decoration: none
  display: inline-block
  padding: 6px 10px
  margin-bottom: 0
  font-size: 16px
  font-weight: normal
  line-height: 1.33
  text-align: center
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  border: 1px solid transparent
  border-radius: 6px
  background-color: darkslateblue
  color: white
  &:hover
    color: white
    background-color: steelblue

.tournament-sign-up-btn
  text-decoration: none
  display: inline-block
  padding: 8px 16px
  margin-bottom: 0
  font-size: 18px
  font-weight: normal
  line-height: 1.33
  text-align: center
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  border: 1px solid transparent
  border-radius: 6px
  background-color: darkslateblue
  color: white
  &:hover
    color: white
    background-color: steelblue

.owner
  h4
    a
      color: darkslateblue
      margin-left: 2%
      text-decoration: none
      &:hover
        color: steelblue

.moderators
  h4
    a
      color: darkslateblue
      margin-left: 2%
      text-decoration: none
      &:hover
        color: steelblue



.participants
  h4
    margin-top: 0
    margin-bottom: 0.5%
    a
      color: darkslateblue
      margin-left: 2%
      text-decoration: none
      &:hover
        color: steelblue

.round
  padding: 0px
  float: left
  margin-top: 0px
  margin-left: 0px

  li
    font-size: 12px
    border-top: 1px solid black
    border-bottom: 1px solid black
    border-left: 0px solid black
    border-right: 1px solid black
    border-top-right-radius: 4px
    border-bottom-right-radius: 4px
    list-style: none
    padding: 10px 35px
    height: 50px
    margin-bottom: 0px
    width: 120px
    text-align: center

.round
  a.slot.highlighted
    box-shadow: 0px 0px 22px blue
  .slot.highlighted
    button
      box-shadow: 0px 0px 22px blue
  .slot.delete-highlight
    button
      box-shadow: 0px 0px 22px red
      color: crimson
    // box-shadow:
    // background-image: linear-gradient(bottom, rgb(196,19,190) 52%, rgb(201,151,191) 25%, rgb(182,142,191) 83%)
    // background-image: -o-linear-gradient(bottom, rgb(196,19,190) 52%, rgb(201,151,191) 25%, rgb(182,142,191) 83%)
    // background-image: -moz-linear-gradient(bottom, rgb(196,19,190) 52%, rgb(201,151,191) 25%, rgb(182,142,191) 83%)
    // background-image: -webkit-linear-gradient(bottom, rgb(196,19,190) 52%, rgb(201,151,191) 25%, rgb(182,142,191) 83%)
    // background-image: -ms-linear-gradient(bottom, rgb(196,19,190) 52%, rgb(201,151,191) 25%, rgb(182,142,191) 83%)

a.slot
  text-decoration: none
  display: inline-block
  margin-bottom: 0
  font-weight: normal
  text-align: center
  white-space: nowrap
  cursor: pointer
  border: 1px solid transparent
  border-radius: 4px
  color: #333333
  background-color: #ffffff
  border-color: #cccccc
  padding: 1px 5px
  &:hover
    background-color: DodgerBlue
    color: white
  &:active
    outline: none
    background-color: limegreen


button.advance-slot
  display: inline-block
  margin-bottom: 0
  font-weight: normal
  text-align: center
  white-space: nowrap
  cursor: pointer
  border: 1px solid transparent
  border-radius: 4px
  color: #333333
  background-color: #ffffff
  border-color: #cccccc
  &:hover
    background-color: DodgerBlue
    color: white
  &:active
    outline: none
    background-color: limegreen


.match-header
  text-shadow: 0px 0px 1px gray


.delete-slot-btn
  padding-right: 3px
  color: crimson
  &:hover
    color: red
    font-weight: bold
    text-shadow: 0px 0px 3px red
    cursor: pointer

.moderator-candidate-form
  display: none
.broadcaster-candidate-form
  display: none

.edit-tournament-btn
  text-decoration: none
  display: inline-block
  padding: 6px 10px
  margin-bottom: 0
  font-size: 16px
  font-weight: normal
  text-align: center
  white-space: nowrap
  vertical-align: middle
  cursor: pointer
  border: 1px solid transparent
  border-radius: 6px
  background-color: darkslateblue
  color: white
  &:hover
    color: white
    background-color: steelblue

.tournament-banner
  h2
    margin-bottom: 0
  h3
    margin-top: 0
