// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .round
//   padding-right: 100px
//   float: left

// .round
//   li
//     border: 1px solid black
//     list-style: none
//     padding: 10px 35px
//     height: 50px
//     margin-bottom: 10px

// .round-8
//   margin-top: 50px

//   li
//     margin-bottom: 93px


.round
  padding: 0px
  float: left
  margin-top: 0px
  margin-left: 0px

  li
    font-size: 14px
    border-top: 1px solid black
    border-bottom: 1px solid black
    border-left: 0px solid black
    border-right: 1px solid black
    list-style: none
    padding: 10px 35px
    height: 50px
    margin-bottom: 0px
    width: 100px

